---
import Layout from '../layouts/Page.astro'
import BlogPostsList from '../components/BlogPostsList.astro';

const seo = {
    title: 'About',
    description: 'About TheFoxxStuff, Aytal Popov',
  }
---


<Layout seo={seo}>
    <div class="div-block-2"></div>
    <div class="dirbox">
        <div class="dirbox">
            <h1 class="heading-isssn">About me</h1>
            <div class="dir">
                <a href="/">
                    <div id="dirdark" class="dirlink">Home</div>
                </a>

                <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">

                <a href="/about/">
                    <div class="dirlink_cor">About</div>
                </a>
            </div>
        </div>
    </div>
    <div class="profffdas w-row">
        <div class="column-6 w-col w-col-6">
            <div class="prof_img">
                <img src="/img/about.jpg">
            </div>
            <div class="div-block-6">
                <h1 class="heading-ins">Ссылки</h1>
            </div>
            <div class="div-block-7">
                <div class="buttonmusic">
                    <div>Youtube</div>
                </div>
                <div class="buttonmusic">
                    <div>Twitter</div>
                </div>
                <div class="buttonmusic">
                    <div>Vk</div>
                </div>
                <div class="buttonmusic">
                    <div>Telegram</div>
                </div>
            </div>
        </div>
        <div class="profff w-col w-col-6">
            <h1 class="heading-ins">Aytal Popov</h1>
            <div class="div-block-5">
                <div class="prof_minidata w-row">
                    <div class="left-info-prof w-col w-col-6">
                        <div>Date of birth:</div>
                    </div>
                    <div class="column-7 w-col w-col-6">
                        <div>25 June 2002</div>
                    </div>
                </div>
                <div class="prof_minidata w-row">
                    <div class="left-info-prof w-col w-col-6">
                        <div>Zodiac sign:</div>
                    </div>
                    <div class="column-7 w-col w-col-6">
                        <div>Cancer</div>
                    </div>
                </div>
                <div class="prof_minidata w-row">
                    <div class="left-info-prof w-col w-col-6">
                        <div>From:</div>
                    </div>
                    <div class="column-7 w-col w-col-6">
                        <div>Republic of Sakha (Yakutia)</div>
                    </div>
                </div>
                <div class="prof_minidata w-row">
                    <div class="left-info-prof w-col w-col-6">
                        <div>Occupancy:</div>
                    </div>
                    <div class="column-7 w-col w-col-6">
                        <div>Web Developer</div>
                    </div>
                </div>
            </div>
            <div>info.
                <br><br>info.</div>
        </div>
    </div>

</Layout>

<style>
    .prof_img img{
        height: 100%;
        object-fit: cover;
    }
</style>