---
import Layout from '../layouts/Page.astro'
import BlogPostsList from '../components/BlogPostsList.astro';
import BlogProjectList from '../components/BlogProjectList.astro';
import MusicNew from '../components/MusicNew.astro';

const seo = {
    title: 'Music',
    description: 'All Music releases and old, demo tracks',
  }

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf()
);
const projects = (await Astro.glob('./project/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf()
);

---


<Layout seo={seo}>
<div class="div-block-2"></div>
<div class="dirbox">
    <h1 class="heading-isssn">Music</h1>
    <div class="dir">
        <a href="/">
            <div id="dirdark" class="dirlink">Home</div>
        </a>

        <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">

        <a href="/music/">
            <div class="dirlink_cor">Music</div>
        </a>
    </div>
</div>

<MusicNew />

<div class="header-with-right w-row">
    <div class="column-2 w-col w-col-6">
        <div class="gal-tab">
            <h1 class="heading-right">All releases</h1>
        </div>
    </div>
    <div class="column w-col w-col-6">
        <!-- <a href="#" class="right-box w-inline-block">
            <div class="right-link">Фильтр &gt;&lt;</div>
        </a> -->
    </div>
</div>

<BlogPostsList posts={posts}/>


<!-- <h1 class="heading">Demo tracks</h1>
<BlogProjectList postss={projects}/> -->

<audio src="https://bafybeieibz4ak63x6di65zf2aedrbym2dz2i7j5h6atrxliyekeyazla2m.ipfs.w3s.link/ipfs/bafybeieibz4ak63x6di65zf2aedrbym2dz2i7j5h6atrxliyekeyazla2m/EMESIS%20LIVE%202011-11-04%20RENARD.mp3" controls></audio>

</Layout>