---
import type { Image } from "../data/types/Image";

export interface Props {
  image: Image;
  href?: string;
}
const { image, href } = Astro.props as Props;
---

<div>
  <a href={href}>
    <div class="photo-box">
      <img src={image.src.compressed} alt={image.alt} />
    </div>
  </a>
  
</div>

<style>
  .photo-box img{
    height: 100%;
    width: 100%;
  }
</style>
