---
export interface Props {
    track: any;
}

export interface Props {
    music: any;
}

const { track } = Astro.props;
const { music } = Astro.props;
---
   
<h1>{music.track.trackname}</h1>
<p>{music.track.tracknumber}</p>
<p>{music.track.trackduration}</p>





